.App {
    background-color: #ffffff;
}


#app-container {
  /* These two paddings are causing a horizontal scrollbar on the bottom of the footer. */
  /* padding: 10px;
  padding-bottom: 60px; */
  text-align: center;
}
