/* .landing-page-div {
  margin: 60px;
  /* background-image: url(../images/landingpagetwo.jpg);
  height: 100vh;
} */

.landing-page-div {
  background-color: #ffffff;
}

img {
  width: 30%;
  height: auto;
}
